#==============================================================================
# rabbitmq.cfg - COMMAND DEFINITIONS FOR RABBITMQ CHECKS
#
#==============================================================================

#------------------------------------------------------------------------------
# RabbitMQ Check Commands
#------------------------------------------------------------------------------

define command {
    command_name    check_rabbitmq
    command_line    $PLUGINSDIR$/check_rabbitmq_$ARG1$ -H {{ rabbitmq_container_name }} --port $_HOSTRABBITMQPORT$ -u $_HOSTRABBITMQUSR$ -p $_HOSTRABBITMQKEY$ -w $ARG2$ -c $ARG3$ $ARG4$
    module_type     cryptresource
    }

define command {
    command_name    check_rabbitmq_queue
    command_line    $PLUGINSDIR$/check_rabbitmq_queue -H {{ rabbitmq_container_name }} --port $_HOSTRABBITMQPORT$ -u $_HOSTRABBITMQUSR$ -p $_HOSTRABBITMQKEY$ -w $ARG2$ -c $ARG3$ --queue=$ARG1$
    module_type     cryptresource
    }

define command {
    command_name    check_rabbitmq_objects
    command_line    $PLUGINSDIR$/check_rabbitmq_objects -H {{ rabbitmq_container_name }} --port $_HOSTRABBITMQPORT$ -u $_HOSTRABBITMQUSR$ -p $_HOSTRABBITMQKEY$ $ARG1$
    module_type     cryptresource
    }

define command {
    command_name    check_rabbitmq_aliveness
    command_line    $PLUGINSDIR$/check_rabbitmq_aliveness -H {{ rabbitmq_container_name }} --port $_HOSTRABBITMQPORT$ -u $_HOSTRABBITMQUSR$ -p $_HOSTRABBITMQKEY$ $ARG1$
    module_type     cryptresource
    }

