ld_env=LD_LIBRARY_PATH
passwd_cindex=2
passwd_uindex=0
find_pid_command=ps auwwwx | grep NAME | grep -v grep | awk '{ print $2 }'
path=/bin:/usr/bin:/sbin:/usr/sbin:/usr/local/bin
passwd_pindex=1
passwd_mindex=4
passwd_file=/etc/shadow
tempdelete_days=7
by_view=0
os_type=redhat-linux
os_version=14.4
real_os_type=CentOS Linux
real_os_version=6.4
log=1
referers_none=0
md5pass=1
theme=gray-theme
product=webmin
webprefix=/webmin
webprefixnoredir=1
referers={{fqdn}} {{ansible_default_ipv4.address}}
