############################################
# put your own settings into this file
# settings from this file will override
# those from the thruk.conf
############################################
<Component Thruk::Backend>
    <peer>
        name    = local
        id      = 7215e
        type    = livestatus
        <options>
            peer          = {{ broker_container_name }}:50000
        </options>
    </peer>
</Component>

