127.0.0.1  localhost   localhost localhost.localdomain localhost4 localhost4.localdomain4 {{fqdn}}
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
{{ansible_default_ipv4.address}}  {{fqdn}}
{{repo_address}}  repo.phim.isyntax.net
{{phirepo_address}}  phirepo.phim.isyntax.net
{{ntp_address}}  ntp.phim.isyntax.net
{{vigilant_address}}  vigilant vigilant.phim.isyntax.net
{{persephone_address}}  persephone persephone.phim.isyntax.net
{{sc_address}}  sc.phim.isyntax.net
{{pypi_address}}  pypi.phim.isyntax.net
{{docker_registry_address}} docker.registry.phim.isyntax.net
