# let localhost use http
location / {
    root        /usr/share/nginx/html;
    index       index.html index.htm;
    error_page 403 = @nonlocal;
    allow       all;
    deny        all;
}


#anything else not localhost should use https
location @nonlocal {
     return 301 http://$host$request_uri;
}

error_page  404            /404.html;
location = /404.html {
    root   /usr/share/nginx/html;
}

# redirect server error pages to the static page /50x.html
#
error_page   500 502 503 504  /50x.html;
location = /50x.html {
    root   /usr/share/nginx/html;
}

location /check_result {
    proxy_pass http://{{ receiver_container_name }}:7764/check_result;
}

location /rabbitmgmt/ {
    proxy_pass http://{{ rabbitmq_container_name }}:15672/;
}

