location @IDMEcosystem {
    proxy_pass http://{{ shinkenconfiguration_container_name }};
}

location /IDMEcosystem {    
    root        /var/philips/version/;
    index       version.json;
    try_files $uri $uri/ @IDMEcosystem;
}

