$VERIFYARG$={{shinken_verify_arg}}
$ENDPOINTPROTOCOL$={{backend_protocol}}
$NOTIFICATIONENDPOINT$={{backend_protocol}}://vigilant/notification
$BILLING_URL$={{backend_protocol}}://vigilant/billingapp
$VIGILANT_URL$={{backend_protocol}}://vigilant/